#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

/* Container */
.articlelists-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.page-item :focus {
  outline: none;
  transform: scale(1.2);
  box-shadow: 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue,
    20px -15px 30px red;
}
