@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.card {
  min-height: 35rem;
}
.votes {
  margin-bottom: 1rem;
  max-width: 10rem;
}
.card-header {
  font-size: 2em;
  font-weight: 700;
}
