/* Base */
body {
  background: #f3f3f3;
  padding: 20px;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Playfair Display', serif;
}

/* Column */
.column {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  min-width: 100%;
  box-sizing: border-box;
}

/* Article (Component) */
.article {
  background: #fff;
  margin: 0 0 25px;
  padding: 20px;
  border-radius: 2px;
  /* box-shadow: 0 2px 4px rgba(#000, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease;
}

.article__title {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.btn:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btn:hover {
  background-color: #dc3545;
}

.viewBtn {
  background-color: #004b23;
}

.viewBtn:hover {
  background-color: #bfd200;
}

.editBtn {
  background-color: #333333;
}

.editBtn:hover {
  background-color: #bfd200;
}

.deleteBtn {
  background-color: #333333;
}
.deleteBtn:hover {
  background-color: #bfd200;
}
