/* Column */
.column {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  min-width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

/* Article (Component) */
.article {
  background: #fff;
  margin: 0 0 25px;
  padding: 20px;
  border-radius: 2px;
  /* box-shadow: 0 2px 4px rgba(#000, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease;
}

.article__title {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;

  font-weight: 600;
}

.btn:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.viewBtn {
  background-color: #00633e;
}

.viewBtn:hover {
  background-color: #bfd200;
}

.editBtn {
  background-color: #3b4a3f;
}

.editBtn:hover {
  background-color: #bfd200;
}

.deleteBtn {
  background-color: #3b4a3f;
}
.deleteBtn:hover {
  background-color: #bfd200;
}

.edit-btn-group {
  width: auto;
}
