.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #d5fadd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00633e;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: #00633e;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2em 2em;
}
form {
  padding: 0 2em;
}

.loginBtn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #00633e;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #00633e;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.loginBtn:hover {
  background-color: #00633e;
  color: #fff;
}
.loginBtn:focus {
  background-color: #00633e;
  color: #fff;
}

.swal2-confirm.swal2-styled {
  background-color: #1266f1;
}

a.register-link {
  color: #00633e;
}

a.register-link:focus {
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
a.register-link:hover {
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
