.tags {
  display: inline-block;
  background: #212121;
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #fff;
  font-size: 0.75rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  border: none;
  border-radius: 15%;
}

.tags:active {
  box-shadow: none;
  transform-origin: center;
  transform: scale(0.95);
}

.tags:hover {
  box-shadow: 5px 2px 2px black;
  transform-origin: center;
  transform: scale(0.95);
}

.tags:focus {
  outline: none;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
